@font-face{
				font-family : 'NaverD2';
				src: local('NaverD2'), url("./font/D2Coding/D2Coding-Ver1.3.2-20180524.ttf");
			}
			body{
				margin: 0px;
			}
			*{
				font-family:'NaverD2';
			}
			.main{
				height: 60px;
			}
			.sub{
				position: relative;
				width:89%;
				float: right;
			}
			
			.main > h1{
				z-index: 1;
				position: fixed;
				text-align: center;
				box-sizing: border-box;
				padding: 12px;
				width: 100%;
				margin-top: 0px;
				border-bottom-width: 2px;
				border-bottom-color: black;
				border-bottom-style: outset;
				background: yellow;
			}
			
			.sub > a > button{
				background-color: rgba(0,0,0,0);
				color: skyblue;
				padding: 10px;
				text-align: center;
				text-decoration: none;
				display: inline-block;
				border: 1px solid skyblue;
				border-radius: 4px;
				box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
			}
			.sub > a > button:hover{
				color: white;
				background-color: skyblue;
			}
			.sub > a{
				text-decoration-line: none;
			}
			.idx{
				margin: 5px;
				position: fixed;
				float: left;
				width: 10%;
				height: 100%;
				box-sizing: border-box;
				border-right-color: black;
				border-right-style: dashed;
			}
